:root {
  --color-primary: #22215b;
  --color-secondary: #567df4;
  --color-accent: #f3f6fe;
  --color-black: #4B4B4B;
  font-family: var(--font-primary);
  color: var(--color-primary);
  
  body *{

  }
}

.hide{
  display: none !important;
}